<?xml version="1.0"?>
<config>
    <modules>
        <Bitmarket_Gateway>
            <version>1.0</version>
        </Bitmarket_Gateway>
    </modules>
	<frontend>
        <routers>
            <bitmarket_gateway>
                <use>standard</use>
                <args>
                    <module>Bitmarket_gateway</module>
                    <frontName>bitmarket_gateway</frontName>
                </args>
            </bitmarket_gateway>
        </routers>
    </frontend>
    <global>
      <models>
        <Gateway>
          <class>Bitmarket_Gateway_Model</class>
        </Gateway>
      </models>
      <helpers>
        <Gateway>
          <class>Bitmarket_Gateway_Helper</class>
        </Gateway>
      </helpers>
      <blocks>
        <Gateway>
          <class>Bitmarket_Gateway_Block</class>
        </Gateway>
      </blocks>
      <resources>
          <Bitmarket_setup>
              <setup>
                  <module>Bitmarket_Gateway</module>
              </setup>
              <connection>
                  <use>core_setup</use>
              </connection>
          </Bitmarket_setup>
          <Bitmarket_write>
              <connection>
                <use>core_write</use>
              </connection>
          </Bitmarket_write>
          <Bitmarket_read>
             <connection>
              <use>core_read</use>
            </connection>
          </Bitmarket_read>
      </resources>
    </global>
 
    <default>
        <payment>
            <Gateway>
                <active>1</active>
                <model>Gateway/paymentMethod</model>
                <title>Bitcoin via Bitmarket.ph</title>
                <payment_action>authorize</payment_action>
                <callback_secret>generate</callback_secret>
				        <pay_url>https://pay.bitmarket.ph/</pay_url>
            </Gateway>
         </payment>
    </default>
</config>
